/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("https://uploads-ssl.webflow.com/62fd28cdd386f6a9d130721f/62fd2f77021f121f91ff0f3b_PPNeueMontreal-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("https://uploads-ssl.webflow.com/62fd28cdd386f6a9d130721f/62fd2fa29bfdf59940b8f4fe_PPNeueMontreal-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: auto;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -5%;

  --grid-size: 24px;
  --grid-size-half: 12px;
  --transparent: #00000000;
  background-size: var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to right,
      var(--transparent) var(--grid-size-half),
      #f7f7f7 calc(var(--grid-size-half) + 1px),
      var(--transparent) calc(var(--grid-size-half) + 1px)
    ),
    linear-gradient(
      to bottom,
      var(--transparent) var(--grid-size-half),
      #f7f7f7 calc(var(--grid-size-half) + 1px),
      var(--transparent) calc(var(--grid-size-half) + 1px)
    );
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 500 !important;
}

.btn {
  @apply bg-blue-700 font-medium text-white rounded-xl shadow-xl border-2 text-sm border-white px-6 py-3;
}

.tag {
  @apply bg-zinc-50 text-zinc-500 border-2 border-white shadow-lg rounded-full py-2 px-4 font-medium text-sm;
}

.fixed-center-horizontal {
  @apply fixed;
  left: 50%;
  transform: translateX(-50%);
}

.x-blanket {
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  @apply fixed w-screen top-0 left-0 py-4 md:py-6 lg:py-8 flex justify-center z-0;
}
