---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import HomeProjectListing from "../components/HomeProjectListing.astro";
import TickerCarousel from "../components/react/TickerCarousel";
import LinkIcon from "../components/icons/LinkIcon.astro";
import ExternalLinkIcon from "../components/icons/ExternalLinkIcon.astro";
import ProjectsListItem from "../components/ProjectsListItem.astro";
import { data } from "../lib/data";

const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="flex flex-col gap-16">
      <div class={"w-full max-w-prose py-16 flex flex-col gap-8"}>
        <img
          src={"/assets/avatar.jpg"}
          class="w-16 h-16 rounded-full drop-shadow border-2 border-white"
          alt={"Tatenda Christopher Chinyamakobvu"}
        />
        <div>
          <h1 class="font-semibold text-xl text-zinc-900">
            Tatenda Christopher Chinyamakobvu
          </h1>
          <p class="text-sm">Product designer & Developer</p>
        </div>
        <div class="prose prose-zinc">
          <p>
            Product designer and developer, currently leading the Product
            Engineering team at <a
              href="https://pagka.framer.website/"
              class="font-medium text-zinc-900">Pagka</a
            >, working to make student accommodation search easier.
          </p>
          <p>
            On weekends I am building a startup to help anyone create and sell
            courses online.
          </p>
        </div>
      </div>
      <section class="flex flex-col gap-8">
        <div>
          <h2 class="text-xl font-semibold text-zinc-900">Featured projects</h2>
        </div>
        <div class="flex flex-col gap-8 w-full">
          <ProjectsListItem projects={data.projects.slice(0, 3)} />
        </div>
      </section>
      <section class="max-w-prose py-8">
        <p>
          I am open to collaborations and freelance projects. You can download
          my
          <a
            href="https://read.cv/kamfeskaya"
            class="font-semibold underline text-zinc-900"
            target="_blank"
            rel="noopener">CV</a
          > or get in touch
          <a
            href="mailto:tatendachris@gmail.com"
            target="_blank"
            rel="noopener"
            class="font-semibold underline text-zinc-900"
            >tatendachris@gmail.com</a
          >
        </p>
      </section>
    </div>
  </Body>
</html>
