---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import LinkIcon from "../components/icons/LinkIcon.astro";
import ProjectsListItem from "../components/ProjectsListItem.astro";
import { data } from "../lib/data";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const work = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <main class="py-12">
      <section class="flex flex-col gap-24 max-w-5xl">
        <section class="flex flex-col gap-8">
          <div>
            <h2 class="text-xl font-semibold text-zinc-900">Products</h2>
          </div>
          <ProjectsListItem projects={data.projects} />
        </section>
        <section class="flex flex-col gap-8">
          <div>
            <h2 class="text-xl font-semibold text-zinc-900">
              Personal projects
            </h2>
          </div>
          <ProjectsListItem projects={data.projects} />
        </section>
      </section>
    </main>
    <Footer />
  </Body>
</html>
