---
import Container from "./Container.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<body
  class="text-zinc-600 subpixel-antialiased"
  class:list={[className]}
  {...props}
>
  <div
    class="max-w-5xl px-4 md:px-12 mx-auto flex flex-col gap-12 shadow-zinc-50 bg-white min-h-screen py-4 border-r border-dashed border-l"
  >
    <slot />
  </div>
</body>
