---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="h-auto w-full max-w-prose mx-auto flex justify-center items-center"
>
  <div
    class="flex rounded-full border p-1 drop-shadow-sm bg-white backdrop-blur"
  >
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </div>
</header>
