---
import HeaderLink from './HeaderLink.astro';
---

<header class="z-50 h-auto w-full border-b">
	<nav class="py-4 px-6 flex gap-4 bg-white w-full justify-between">
		<HeaderLink href="/">Halfstack</HeaderLink>
		<div class="flex gap-8">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/design">Work</HeaderLink>
			<HeaderLink href="/snippets">Snippets</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<HeaderLink href="mailto:tatendachris@gmail.com">
			Project request
		</HeaderLink>

	</nav>
</header>
