---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./icons/MenuIcon.astro";
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<header
  class="h-auto w-full max-w-5xl mx-auto flex justify-between items-center"
>
  {
    isHome ? (
      <div class="h-10 aspect-square" />
    ) : (
      <a href="/">
        <img
          src={"/assets/avatar.jpg"}
          class="aspect-square h-10 rounded-full drop-shadow border-2 border-white"
          alt={"Tatenda Christopher Chinyamakobvu"}
        />
      </a>
    )
  }
  <div
    class="rounded-full border p-1 drop-shadow-sm bg-white backdrop-blur hidden md:flex text-sm"
  >
    <HeaderLink href="/blog">Writing</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/gallery">Gallery</HeaderLink>
  </div>
  <div class="flex md:hidden">
    <button
      class="p-2 rounded-full backdrop-blur shadow-sm border bg-white hover:bg-zinc-50"
    >
      <MenuIcon />
    </button>
  </div>
  <div class="hidden md:flex"></div>
</header>
