---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./icons/MenuIcon.astro";
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<header
  class="h-auto w-full max-w-5xl mx-auto flex justify-between items-center relative z-10"
>
  <div>
    {
      isHome ? (
        <div class="h-10 aspect-square" />
      ) : (
        <a href="/">
          <img
            src={"/assets/avatar.jpg"}
            class="aspect-square h-10 rounded-full drop-shadow border-2 border-white"
            alt={"Tatenda Christopher Chinyamakobvu"}
          />
        </a>
      )
    }
  </div>
  <div class="backdrop-blur flex">
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/blog">Writing</HeaderLink>
  </div>
</header>
