---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '') || pathname.includes(href?.toString() ?? "/");
---

<a href={href} class={`hover:bg-orange-50 rounded-lg py-2 px-4 transition-opacity duration-150 ${isActive ? "text-orange-600 font-medium" : ""}`} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
</style>
