---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isMatchedPath = href === pathname || href === pathname.replace(/\/$/, "");
const isChildPathActive = href !== "/" && pathname.startsWith(`${href}`);

const isActive = isMatchedPath || isChildPathActive;
---

<a
  href={href}
  class={`rounded-full gap-2 items-center py-1 px-3 hover:bg-zinc-100 transition-opacity ${className}`}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: flex;
    text-decoration: none;
  }
</style>
