---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./icons/MenuIcon.astro";
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<header
  class="h-auto w-full max-w-5xl mx-auto flex justify-between items-center"
>
  {
    isHome ? (
      <div class="h-10 aspect-square" />
    ) : (
      <a href="/">
        <img
          src={"/assets/avatar.jpg"}
          class="aspect-square h-10 rounded-full drop-shadow border-2 border-white"
          alt={"Tatenda Christopher Chinyamakobvu"}
        />
      </a>
    )
  }
  <div class="backdrop-blur hidden md:flex text-sm">
    <HeaderLink href="/blog">Writing</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
  </div>
  <div class="hidden md:flex"></div>
</header>
