---
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  projects: Array<{
    name: string;
    href: string;
    description: string;
    domain: string;
  }>;
}

const { projects } = Astro.props;
---

{
  projects.map((project) => (
    <div class="rounded-xl relative group">
      <div class="absolute h-full w-full" />
      <a href={project.href} class="flex gap-8 relative">
        <div class="flex flex-col gap-2">
          <div class="group-hover:underline">
            <h3 class="text-zinc-900 font-semibold ">{project.name}</h3>
            <p class="line-clamp-2 text-sm ">{project.description}</p>
          </div>
          <div class="flex text-sm gap-2 items-center font-medium text-zinc-500">
            <ExternalLinkIcon />

            <p>{project.domain}</p>
          </div>
        </div>
      </a>
    </div>
  ))
}
