---
import DocumentIcon from "./icons/DocumentIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import RectangleStack from "./icons/RectangleStack.astro";
import Sparkles from "./icons/Sparkles.astro";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  projects: Array<{
    name: string;
    href: string;
    description: string;
    domain: string;
    type: string;
  }>;
}

const { projects } = Astro.props;
---

{
  projects.map((project) => (
    <div class="rounded-xl relative group flex items-center gap-4">
      <div class="p-2 rounded-xl bg-white shadow-lg border">
        {project.type === "stack" ? <RectangleStack /> : <Sparkles />}
      </div>
      <a href={project.href} class="flex gap-8 relative">
        <div class="flex flex-col gap-2">
          <div class="group-hover:underline">
            <h3 class="text-zinc-900 font-semibold ">{project.name}</h3>
            <p class="line-clamp-2 text-sm ">{project.description}</p>
          </div>
        </div>
      </a>
    </div>
  ))
}
