---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title + " - Kamfeskaya"} description={description} />
  </head>

  <Body>
    <main class="py-12 flex flex-col gap-12 mx-auto">
      <div class="flex flex-col gap-4">
        <p>
          {
            heroImage && (
              <img
                src={heroImage}
                alt=""
                class="w-16 aspect-square object-cover rounded-full shadow"
              />
            )
          }
        </p>
        <section class="flex flex-col gap-2 max-w-prose">
          <h1 class="text-5xl max-w-xl text-zinc-900">{description}</h1>
        </section>
        <p></p>
      </div>

      <section class="flex gap-12 flex-row-reverse lg:flex-row">
        <article class="max-w-prose flex flex-col gap-12 prose-zinc">
          <slot />
        </article>
      </section>
    </main>
    <Footer />
  </Body>
</html>
